{% extends 'base.html' %}
{% block body %}

{% load static %}

    <div class="inner-banner">
        <div class="container">
            <h2 class="inner-banner-title">Auction Details</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Auction Details</li>
                </ol>
              </nav>
        </div>
    </div>

    <!-- ========== inner-page-banner end ============= -->

    <!-- ========== auction-details start ============= -->

    <div class="auction-details-section pt-120">
        <img alt="image" src="assets/images/bg/section-bg.png" class="img-fluid section-bg-top" >
        <img alt="image" src="assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom" >
        <div class="container">
            <div class="row g-4 mb-50">
                <div class="col-xl-6 col-lg-7 d-flex flex-row align-items-start justify-content-lg-start justify-content-center flex-md-nowrap flex-wrap gap-4">
                    <ul class="nav small-image-list d-flex flex-md-column flex-row justify-content-center gap-4">

                       {%for image in item.get_images%}
                        <li class="nav-item">
                            <div  id="details-img{{image.id}}" data-bs-toggle="pill" data-bs-target="#gallery-img{{image.id}}" aria-controls="gallery-img{{image.id}}">
                                <img alt="image" src="{{image.image.url}}" class="img-fluid" >
                            </div>
                        </li>
                    {%endfor%}
                    </ul>
                    <div class="tab-content mb-4 d-flex justify-content-lg-start justify-content-center">
                        {%for image in item.get_images%}
                        <div class="tab-pane big-image fade show {%if forloop.first%} active {%endif%} " id="gallery-img{{image.id}}">
                            <div class="auction-gallery-timer d-flex align-items-center justify-content-center flex-wrap">
                                <h3 class="countdown-timer-{{item.id}}">{%if item.status == "Active" %}&nbsp;{%else%}COMPLETED{%endif%}</h3>
                            </div>
                            <img alt="image" src="{{image.image.url}}" class="img-fluid" >
                        </div>
                      {%endfor%}
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="product-details-right">
                        <h3>{{item.productName}}</h3>
<!--                        <p class="para">{{item.description}}</p>-->
                        <h4>Buying Price: <span>&#2547;{{item.buying_price}}</span></h4>
                        <div class="bid-form">
                            <div class="form-title">
                                <h5>Bid Now</h5>
                                <p>Bid Amount : Minimum Bid &#2547;<span id="min_bid_value" data-toggle="counter-up">{{item.base_price}}</span></p>
                            </div>

                             <div class="form-title" >
                                 <h5 id="highestBid">Current Bid: &#2547;<span id="bid_value" data-toggle="counter-up">{% if item.get_bid_higest.bid_price %}{{item.get_bid_higest.bid_price}}{%else%}0{%endif%}</span><span>
                                     {% if item.get_bid_higest.bidUser.user == request.user %}(you){%endif%}
                                 </span></h5>
                            </div>
                            {%if item.G_user.user != request.user %}
                            <form id="form_data">
                                {%if item.status == "Active" %}
                                {%if request.user.is_authenticated %}

                                {%if request.user.GUser.otp_active == "No"%}
                                  <h5>Please <a href="{% url 'Guser:Active' %}" class="link-primary">active your account</a> to bid</h5>
                                {%else%}
                                <div class="form-inner gap-2">
                                    <input id="id_bidder_amount" type="number" placeholder="00.00" required>
                                    <button class="eg-btn btn--primary btn--sm" id="BidButton" type="submit">Place Bid</button>
                                </div>
                                {%endif%}
                                {%else%}
                                 <div class="form-title" >
                                     <h5>Please <a href="{% url 'Main:Login' %}?{{ request.GET.urlencode }}&next={{ request.path }}" class="link-primary">Log in here</a> to bid</h5>
                            </div>
                                {%endif%}
                                {%else%}
                                <h2>Auction ended</h2>
                                {%endif%}
                            </form>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center g-4">
                <div class="col-lg-8">
                    <ul class="nav nav-pills d-flex flex-row justify-content-start gap-sm-4 gap-3 mb-45 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active details-tab-btn" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link details-tab-btn" id="pills-bid-tab" data-bs-toggle="pill" data-bs-target="#pills-bid" type="button" role="tab" aria-controls="pills-bid" aria-selected="false">Biding History</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link details-tab-btn" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Other Auction</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active wow fadeInUp"  data-wow-duration="1.5s" data-wow-delay=".2s" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="describe-content">
                                <h4 >{{item.productName}}</h4>
                                {{item.description|safe}}
<!--                                <ul class="describe-list">-->
<!--                                    <li><a href="#">Amet consectetur adipisicing elit. Maxime reprehenderit quaerat, velit rem atque vel impedit!  Expensive Design.</a></li>-->
<!--                                    <li><a href="#">Consectetur adipisicing elit. Maxime reprehenderit quaerat</a></li>-->
<!--                                    <li><a href="#">Fuga magni veritatis ad temporibus atque adipisci nisi rerum...</a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-bid" role="tabpanel" aria-labelledby="pills-bid-tab">
                            <div class="bid-list-area">
                                <ul class="bid-list">
                                    {%for buser in item.get_bid_user%}
                                    <li {%if forloop.first%} style="background-color: #32c36c;" class="rounded" {%endif%}>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-7">
                                                <div class="bidder-area">
                                                    <div class="bidder-img">
                                                        <i class="bi bi-person-fill"></i>
                                                    </div>
                                                    <div class="bidder-content">
                                                        <a><h6 {%if forloop.first%} style="color: rgb(0,0,0)" {%endif%}>{{buser.bidUser.user.username}}</h6></a>
                                                        <p {%if forloop.first%} style="color: rgb(0,0,0)" {%endif%}>&#2547;{{buser.bid_price}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-5 text-end">
                                                {%if forloop.first%} <h6 style="color: rgb(0,0,0)">Highest Bidder</h6>{%endif%}
                                                <div class="bid-time">
                                                    <p>{%if forloop.first%} <h6 style="color: #000000">{{buser.created_date|timesince}} ago</h6>{%else%} {{buser.created_date|timesince}} ago{%endif%}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="row d-flex justify-content-center g-4">
                                <div class="col-lg-6 col-md-4 col-sm-10">
                                    <div class="eg-card auction-card1">
                                        <div class="auction-img">
                                            <img alt="image" src="assets/images/bg/live-auc1.png" >
                                            <div class="auction-timer">
                                                <div class="countdown" id="timer1">
                                                    <h4><span id="hours1">05</span>H : <span id="minutes1">52</span>M : <span
                                                            id="seconds1">32</span>S</h4>
                                                </div>
                                            </div>
                                            <div class="author-area">
                                                <div class="author-emo">
                                                    <img alt="image" src="assets/images/icons/smile-emo.svg" >
                                                </div>
                                                <div class="author-name">
                                                    <span>by @robatfox</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="auction-content">
                                            <h4><a href="auction-details.html">Brand New royal Enfield 250 CC For Sale</a></h4>
                                            <p>Bidding Price : <span>$85.9</span> </p>
                                            <div class="auction-card-bttm">
                                                <a href="auction-details.html" class="eg-btn btn--primary btn--sm">Place a Bid</a>
                                                <div class="share-area">
                                                    <ul class="social-icons d-flex">
                                                        <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                                                        <li><a href="https://www.twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                                                        <li><a href="https://www.pinterest.com/"><i class="bx bxl-pinterest"></i></a></li>
                                                        <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
                                                    </ul>
                                                    <div>
                                                        <a href="#" class="share-btn"><i class='bx bxs-share-alt'></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar">

                    </div>

                </div>
            </div>
        </div>
    </div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Send Security Money</h4>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Send this amount to 0139012392</p>
        <div class="form-group" id="emailInputContainer">
          <label for="bnnumber">Bkash Or Nagad Number</label>
          <input type="text" class="form-control" id="bnnumber" aria-describedby="emailHelp" placeholder="Enter mobile number" required>
        </div>
      </div>
         <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="numbersendbtn">Send</button>
      </div>
    </div>
  </div>
 </div>
<script>

    {%if item.status == "Active" %}
       function startCountDownDate(dateVal) {
      var countDownDate = new Date(dateVal).getTime();

      return countDownDate;
    }
var intervalID;
    function countDownTimer(start, targetDOM) {
            intervalID = setInterval(function() {
      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = start - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // add 0 at the beginning if days, hours, minutes, seconds values are less than 10
      days = (days < 10) ? "0" + days : days;
      hours = (hours < 10) ? "0" + hours : hours;
      minutes = (minutes < 10) ? "0" + minutes : minutes;
      seconds = (seconds < 10) ? "0" + seconds : seconds;

      // Output the result in an element with countdown-timer-x"
      const el_up = document.querySelectorAll("."+targetDOM);
      if(el_up){
          el_up.forEach((element) => {
    if(days=="00"){
       element.textContent = hours + "H : " + minutes + "M : " + seconds + "S ";
      }
      else{
        element.textContent = days + "D : " + hours + "H : " + minutes + "M : " + seconds + "S ";
        }
});

      }


      // If the count down is over, write some text
      if (distance < 0) {
        clearInterval(intervalID);
                  el_up.forEach((element) => {
       element.textContent ="COMPLETED";
                      element.style.color = "white";
});
        document.querySelector(".bid-form").textContent = "Auction Ended";
                let formData = {
                item_id: "{{item.id}}",
            };
            $.ajax({
                type: "POST",
                url: window.location.origin + "/item_completed",
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function() {
                    console.log("success")
                },
                error: function() {
                    console.log("error")
                }
            });
      }

       }, 1000);

    return intervalID;
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        let cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    countDownTimer(startCountDownDate("{{item.end_date|escapejs}}"), "countdown-timer-{{item.id}}");

let loc = window.location
let wsStart = 'ws://'

if(loc.protocol === 'https') {
    wsStart = 'wss://'
}
let endpoint = wsStart + loc.host + "/ws/auction-details/" + "{{item.id}}" + "/"

var socket = new WebSocket(endpoint)
//for websocket

    var form_data = $('#form_data');
    var bid_input = $('#id_bidder_amount');
    var bid_holder = $('#bid_value');
    var min_val=$('#min_bid_value')


    socket.onmessage = function(e){
        console.log("message", e)
            let data = JSON.parse(e.data)
            let bid = data['bid']
        console.log(data['completed'])
        if(data['base'].toString() === "true") {
             alert("নিলামের সর্বনিম্ন মূল্য থেকে বেশি হতে হবে")

            $('#BidButton').prop('disabled', false); // Enable the submit button
        $('#BidButton').html('Place Bid');
        }
        else  if(data['lesser_current'].toString() === "true") {
             alert("bortoman bid er 10%  থেকে বেশি ba soman হতে হবে")

            $('#BidButton').prop('disabled', false); // Enable the submit button
        $('#BidButton').html('Place Bid');
        }
        else if(data['completed'].toString() === "true") {
            console.log("buy completed");
            document.querySelector("#form_data").textContent = "Auction Ended";
            clearInterval(intervalID);
            const el_up2 = document.querySelectorAll("."+"countdown-timer-{{item.id}}");
            console.log(el_up2)
            el_up2.forEach((element) => {
       element.textContent ="COMPLETED";
                      element.style.color = "white";
});
                    bid_holder.html(""+bid);
        $('#BidButton').prop('disabled', false); // Enable the submit button
        $('#BidButton').html('Place Bid');
        }
        else{
               bid_holder.html(""+bid);
        $('#BidButton').prop('disabled', false); // Enable the submit button
        $('#BidButton').html('Place Bid');
        }



    }
  form_data.submit(function(event){
      event.preventDefault();
      {% if has_paid is False %}
        console.log("not paid")
        var numbersendbtn = document.getElementById("numbersendbtn");
        var modal = new bootstrap.Modal(document.getElementById('myModal'));
        modal.show();
         numbersendbtn.addEventListener('click', function() {
         var numberInput = document.getElementById("bnnumber");
         var numValue = numberInput.value.trim();
         if (numValue.length == 0) {
            alert("Please enter the bkash number.");
                 return;
                    }
         let formData = {
                item_id: "{{item.id}}",
                number: numValue
            };
         $.ajax({
                type: "POST",
                url: window.location.origin + "/send_security_money",
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function() {
                    console.log("success")
                },
                error: function() {
                    console.log("error")
                }
            });

         });

      {%else%}

             $('#BidButton').prop('disabled', true); // Disable the submit button
    $('#BidButton').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
            var bid_value = bid_input.val();
            var min_bid_value = parseInt(min_val.text());
            var c_value=parseInt(bid_holder.text())

            console.log(bid_value)
            console.log(c_value+c_value*0.10)

            var final_data = {
                'bid': bid_value
            };
            socket.send(JSON.stringify(final_data))

{%endif%}

        })
    socket.onopen = function(e){
        console.log("open", e)
        console.log(bid_holder.text())

    }

    socket.onerror = function(e){
        console.log("error", e)
        socket = new WebSocket(endpoint)
    }

    socket.onclose = function(e){
        console.log("close", e)
        socket = new WebSocket(endpoint)
    }

   
    {%endif%}
</script>
{% endblock %}