{% extends 'base.html' %}
{% block body %}

{% load static %}
    <!-- ========== inner-page-banner start ============= -->

<!--    <div class="inner-banner">-->
<!--        <div class="container">-->
<!--            <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Sign Up</h2>-->
<!--            <nav aria-label="breadcrumb">-->
<!--                <ol class="breadcrumb">-->
<!--                  <li class="breadcrumb-item"><a href="index.html">Active your account</a></li>-->
<!--                  <li class="breadcrumb-item active" aria-current="page">Sign Up</li>-->
<!--                </ol>-->
<!--              </nav>-->
<!--        </div>-->
<!--    </div>-->

    <!-- ========== inner-page-banner end ============= -->

    <div class="signup-section pt-120 pb-120">
        <img alt="image" src="{% static 'images/bg/section-bg.png' %}" class="section-bg-top" >
        <img alt="image" src="{% static 'images/bg/section-bg.png' %}" class="section-bg-bottom" >
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="form-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                        <div class="form-title">
                            <h3>Forget Password</h3>
                        </div>
                                                            {% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>

  </button>
</div>
                            {% endfor %}
                        <form action="" method="POST" class="w-100">
                    {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-inner">
                                        <label>New Password *</label>
                                        <input type="password" name="create_password" minlength="8" placeholder="Create Password"/>
                                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-inner">
                                        <label>Confirm Password *</label>
                                        <input type="password" name="confirm_password" minlength="8" placeholder="Confirm Password"/>
                                        <i class="bi bi-eye-slash" id="togglePassword2"></i>
                                    </div>
                                </div>


                            </div>
                            <button class="account-btn">Submit</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ===============  Hero area end=============== -->

    <!-- =============== counter-section end =============== -->



    <!-- =============== counter-section end =============== -->
{% endblock %}